body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8fafc;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(200px, auto) minmax(200px, auto);
  grid-template-areas:
    "header"
    "main"
    "sidebar1"
    "sidebar2";
  gap: 1rem;
  padding: 1rem;
}

main {
  grid-area: main;
  background-color: #f4f4f4;
  padding: 1rem;
  overflow-y: auto;
  max-height: 60vh;
}

section:nth-of-type(1) {
  grid-area: sidebar1;
  background-color: #e2e2e2;
  padding: 1rem;
}

section:nth-of-type(2) {
  grid-area: sidebar2;
  background-color: #d1d1d1;
  padding: 1rem;
}

h2,
h3 {
  margin-top: 10px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
}

nav a {
  text-decoration: none;
  color: #333;
  margin: 20px;
}

ol {
  padding-left: 1.5rem;
}

ol li {
  margin-bottom: 1rem;
}

ol li div {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: minmax(400px, 60%) minmax(200px, 40%);
    grid-template-rows: auto auto;
    grid-template-areas:
      "header header"
      "main sidebar1"
      "main sidebar2";
  }

  main {
    max-height: none;
  }
}
