:root {
  --primary: #074799;
  --secondary: #f8fafc;
  --header-size: 2em;
  --body-size: 1em;
  --spacing: 12px;
}

body {
  font-size: var(--body-size);
  background-color: var(--secondary);
  padding: var(--spacing);
}

nav a {
  color: var(--primary);
  text-decoration: none;
  margin: var(--spacing);
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: var(--spacing);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: var(--spacing) 0;
}

tr,
th,
td {
  border: 1px solid var(--primary);
}
p,
h2,
h3 {
  color: var(--primary);
  margin: var(--spacing) 0;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing);
}

.sidebar {
  flex: 1;
  max-width: 30%;
}

.main-content {
  flex: 2;
}

.phone-details {
  display: flex;
  align-items: center;
}

.phone-details img {
  margin-right: var(--spacing);
}
